:root {
  --primary-hue: 219;
  --layout-hue: 219;
}

.home-layout {
  background-image: url("/img/home-bg.webp");
  background-color: #00195c;
}

.sidebar-logo {
  border-bottom: 2px solid black;
}

.home-hero-captions {
  margin-top: 1.675rem;
}
